/*
YASM (Yet Another Skill Management) API

This is an example of using OAuth2 Implicit Flow in a specification to describe security to your API.

API version: 1.78.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProjectLayoutIdAPIService ProjectLayoutIdAPI service
type ProjectLayoutIdAPIService service

type ProjectLayoutIdAPISearchProjectLayoutsRequest struct {
	ctx context.Context
	ApiService *ProjectLayoutIdAPIService
	projectId string
	projectLayoutSearch *ProjectLayoutSearch
}

func (r ProjectLayoutIdAPISearchProjectLayoutsRequest) ProjectLayoutSearch(projectLayoutSearch ProjectLayoutSearch) ProjectLayoutIdAPISearchProjectLayoutsRequest {
	r.projectLayoutSearch = &projectLayoutSearch
	return r
}

func (r ProjectLayoutIdAPISearchProjectLayoutsRequest) Execute() (*PagedProjectLayouts, *http.Response, error) {
	return r.ApiService.SearchProjectLayoutsExecute(r)
}

/*
SearchProjectLayouts Search for Project Layouts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId
 @return ProjectLayoutIdAPISearchProjectLayoutsRequest
*/
func (a *ProjectLayoutIdAPIService) SearchProjectLayouts(ctx context.Context, projectId string) ProjectLayoutIdAPISearchProjectLayoutsRequest {
	return ProjectLayoutIdAPISearchProjectLayoutsRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return PagedProjectLayouts
func (a *ProjectLayoutIdAPIService) SearchProjectLayoutsExecute(r ProjectLayoutIdAPISearchProjectLayoutsRequest) (*PagedProjectLayouts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PagedProjectLayouts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectLayoutIdAPIService.SearchProjectLayouts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projects/{projectId}/layouts/search"
	localVarPath = strings.Replace(localVarPath, "{"+"projectId"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectLayoutSearch == nil {
		return localVarReturnValue, nil, reportError("projectLayoutSearch is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectLayoutSearch
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
